# Node modules
iot/server/node_modules/
iot/AI/node_modules/


# Logs
iot/server/logs/
*.log

# Build output
iot/server/dist/
iot/server/build/

# Environment variables
iot/server/.env

# Temporary files
iot/server/tmp/
iot/server/.cache/
